body{
    background: radial-gradient( circle, #4c00ff, #006eff);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ayok{
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 50px;
}

button{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 10px;
color: rgb(0, 0, 0);
font-size: 20px;
}

div{
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}